.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#main-title {
  font-size: 5em;
  font-weight: 600;
  font-style: italic;
  color: rgb(253, 239, 80);
  text-shadow: 4px 4px 0px rgb(116, 109, 36);
  margin: 10px;
}